In [99]:
import pandas as pd

wfp_df = pd.read_csv('raw_data/world-food-prices/wfp_food_prices_global_2025.csv')

/var/folders/p0/x3d9njwx7l5_zn_128v654c40000gn/T/ipykernel_21668/2157639019.py:3: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  wfp_df = pd.read_csv('raw_data/world-food-prices/wfp_food_prices_global_2025.csv')

In [100]:
wfp_df

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,#country+code,#date,#adm1+name,#adm2+name,#loc+market+name,#loc+market+code,#geo+lat,#geo+lon,#item+type,#item+name,#item+code,#item+unit,#item+price+flag,#item+price+type,#currency+code,#value,#value+usd
1,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Bread,55,KG,aggregate,Retail,AFN,77,1.05
2,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (high quality),247,KG,aggregate,Retail,AFN,88.54,1.21
3,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (low quality),145,KG,aggregate,Retail,AFN,55,0.75
4,AFG,2025-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Wheat,84,KG,aggregate,Retail,AFN,23.19,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147003,ZWE,2025-03-15,Mashonaland Central,Shamva,Chakonda,8823,-17.15,31.59,non-food,Toothpaste,539,100 ML,aggregate,Retail,ZWL,40.0,0.0006
147004,ZWE,2025-03-15,Mashonaland Central,Shamva,Madziva Town,8825,-16.98,31.49,cereals and tubers,Maize meal,54,KG,aggregate,Retail,ZWL,26.32,0.0004
147005,ZWE,2025-03-15,Mashonaland Central,Shamva,Madziva Town,8825,-16.98,31.49,cereals and tubers,Rice,52,KG,aggregate,Retail,ZWL,41.5,0.00063
147006,ZWE,2025-03-15,Mashonaland Central,Shamva,Madziva Town,8825,-16.98,31.49,non-food,Handwash soap,541,250 G,aggregate,Retail,ZWL,10.0,0.00015
147007,ZWE,2025-03-15,Mashonaland Central,Shamva,Madziva Town,8825,-16.98,31.49,non-food,Toothpaste,539,100 ML,aggregate,Retail,ZWL,40.0,0.0006

In [101]:
wfp_df = wfp_df[['countryiso3', 'category', 'usdprice']]
wfp_df

          countryiso3            category    usdprice
0       #country+code          #item+type  #value+usd
1                 AFG  cereals and tubers        1.05
2                 AFG  cereals and tubers        1.21
3                 AFG  cereals and tubers        0.75
4                 AFG  cereals and tubers        0.32
...               ...                 ...         ...
147003            ZWE            non-food      0.0006
147004            ZWE  cereals and tubers      0.0004
147005            ZWE  cereals and tubers     0.00063
147006            ZWE            non-food     0.00015
147007            ZWE            non-food      0.0006

[147008 rows x 3 columns]

In [102]:
wfp_df = wfp_df.iloc[1:]

In [103]:
wfp_df

       countryiso3            category usdprice
1              AFG  cereals and tubers     1.05
2              AFG  cereals and tubers     1.21
3              AFG  cereals and tubers     0.75
4              AFG  cereals and tubers     0.32
5              AFG  cereals and tubers     0.41
...            ...                 ...      ...
147003         ZWE            non-food   0.0006
147004         ZWE  cereals and tubers   0.0004
147005         ZWE  cereals and tubers  0.00063
147006         ZWE            non-food  0.00015
147007         ZWE            non-food   0.0006

[147007 rows x 3 columns]

In [104]:
wfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147007 entries, 1 to 147007
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   countryiso3  147007 non-null  object
 1   category     147007 non-null  object
 2   usdprice     146347 non-null  object
dtypes: object(3)
memory usage: 3.4+ MB

In [105]:
wfp_df = wfp_df.rename(columns={'countryiso3': 'country'})
wfp_df

       country            category usdprice
1          AFG  cereals and tubers     1.05
2          AFG  cereals and tubers     1.21
3          AFG  cereals and tubers     0.75
4          AFG  cereals and tubers     0.32
5          AFG  cereals and tubers     0.41
...        ...                 ...      ...
147003     ZWE            non-food   0.0006
147004     ZWE  cereals and tubers   0.0004
147005     ZWE  cereals and tubers  0.00063
147006     ZWE            non-food  0.00015
147007     ZWE            non-food   0.0006

[147007 rows x 3 columns]

In [106]:
wfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147007 entries, 1 to 147007
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   147007 non-null  object
 1   category  147007 non-null  object
 2   usdprice  146347 non-null  object
dtypes: object(3)
memory usage: 3.4+ MB

In [107]:
wfp_df[wfp_df[['country', 'category', 'usdprice']].isnull().any(axis=1)]

       country            category usdprice
64532      MDA  cereals and tubers      NaN
64533      MDA  cereals and tubers      NaN
64534      MDA  cereals and tubers      NaN
64535      MDA  cereals and tubers      NaN
64536      MDA  cereals and tubers      NaN
...        ...                 ...      ...
110122     SOM  miscellaneous food      NaN
110123     SOM  miscellaneous food      NaN
110124     SOM            non-food      NaN
110125     SOM            non-food      NaN
110126     SOM     pulses and nuts      NaN

[660 rows x 3 columns]

In [108]:
wfp_df['usdprice'] = wfp_df['usdprice'].astype(float)

In [109]:
wfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147007 entries, 1 to 147007
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   147007 non-null  object
 1   category  147007 non-null  object
 2   usdprice  146347 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.4+ MB

In [110]:
agg_df = wfp_df.groupby(['country', 'category'])['usdprice'].sum().reset_index()

In [111]:
agg_df

    country             category    usdprice
0       AFG   cereals and tubers  1252.76000
1       AFG   miscellaneous food   336.03000
2       AFG             non-food  4810.94000
3       AFG         oil and fats   483.06000
4       AFG      pulses and nuts   443.65000
..      ...                  ...         ...
386     ZWE  meat, fish and eggs     0.02400
387     ZWE   miscellaneous food     0.00035
388     ZWE             non-food     0.00719
389     ZWE         oil and fats     0.00240
390     ZWE      pulses and nuts     0.00229

[391 rows x 3 columns]

In [112]:

agg_df.to_csv('cleaned_data/wfp_food_prices_cleaned_2025.csv', index=False)

In [115]:
import os
file_size = os.path.getsize('cleaned_data/wfp_food_prices_cleaned_2025.csv')