In [147]:
import pandas as pd

In [148]:
df_cleaned_2017 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2017.csv')

In [149]:
df_cleaned_2017['year'] = 2017

In [150]:
cols = df_cleaned_2017.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2017 = df_cleaned_2017[cols]
df_cleaned_2017.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2017  cereals and tubers    154.72   0.512318        0.430
1     AFG  2017            non-food   1578.63   4.111016        2.315
2     AGO  2017  cereals and tubers    123.54   2.573750        3.055
3     AGO  2017      milk and dairy    538.60  44.883333       44.595
4     AGO  2017  miscellaneous food      9.00   4.500000        4.500

In [151]:
df_cleaned_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      388 non-null    object
 1   year         388 non-null    int64
 2   category     388 non-null    object
 3   sumPrice     388 non-null    float64
 4   meanPrice    388 non-null    float64
 5   medianPrice  388 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 18.3+ KB

In [152]:
df_cleaned_2018 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2018.csv')

In [153]:
df_cleaned_2018['year'] = 2018

In [154]:
cols = df_cleaned_2018.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2018 = df_cleaned_2018[cols]
df_cleaned_2018.head()

  country  year             category  sumPrice  meanPrice  medianPrice
0     AFG  2018   cereals and tubers    146.64   0.488800        0.410
1     AFG  2018             non-food   1479.39   3.852578        2.150
2     AGO  2018   cereals and tubers    100.05   1.755263        2.000
3     AGO  2018  meat, fish and eggs     20.22  10.110000       10.110
4     AGO  2018       milk and dairy    408.01  34.000833       33.335

In [155]:
df_cleaned_2019 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2019.csv')

In [156]:
df_cleaned_2019['year'] = 2019

In [157]:
cols = df_cleaned_2019.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2019 = df_cleaned_2019[cols]
df_cleaned_2019.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2019  cereals and tubers    133.03   0.473416        0.400
1     AFG  2019            non-food   1424.49   3.709609        2.075
2     AGO  2019  cereals and tubers     73.30   1.527083        1.860
3     AGO  2019      milk and dairy    316.35  26.362500       27.165
4     AGO  2019  miscellaneous food      8.28   2.760000        2.950

In [158]:
df_cleaned_2020 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2020.csv')

In [159]:
df_cleaned_2020['year'] = 2020

In [160]:
cols = df_cleaned_2020.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2020 = df_cleaned_2020[cols]
df_cleaned_2020.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2020  cereals and tubers  1039.490   0.612907        0.490
1     AFG  2020  miscellaneous food   220.678   0.405658        0.435
2     AFG  2020            non-food  4320.470   3.553018        1.015
3     AFG  2020        oil and fats   361.690   1.329743        1.310
4     AFG  2020     pulses and nuts   328.820   1.208897        1.160

In [161]:
df_cleaned_2021 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2021.csv')

In [162]:
df_cleaned_2021['year'] = 2021

In [163]:
cols = df_cleaned_2021.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2021 = df_cleaned_2021[cols]
df_cleaned_2021.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2021  cereals and tubers   1462.92   0.606266        0.480
1     AFG  2021  miscellaneous food    333.82   0.409093        0.430
2     AFG  2021            non-food   5252.09   3.218192        1.275
3     AFG  2021        oil and fats    686.65   1.682966        1.690
4     AFG  2021     pulses and nuts    468.20   1.147549        1.130

In [164]:
df_cleaned_2022 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2022.csv')

In [165]:
df_cleaned_2022['year'] = 2022

In [166]:
cols = df_cleaned_2022.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2022 = df_cleaned_2022[cols]
df_cleaned_2022.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2022  cereals and tubers  1700.550   0.705915         0.57
1     AFG  2022  miscellaneous food   375.788   0.460525         0.46
2     AFG  2022            non-food  4875.820   3.002352         1.91
3     AFG  2022        oil and fats   788.110   1.931642         1.91
4     AFG  2022     pulses and nuts   519.420   1.273088         1.27

In [167]:
df_cleaned_2023 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2023.csv')

In [168]:
df_cleaned_2023['year'] = 2023

In [169]:
cols = df_cleaned_2023.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2023 = df_cleaned_2023[cols]
df_cleaned_2023.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2023  cereals and tubers   1735.05   0.720835        0.550
1     AFG  2023  miscellaneous food    436.73   0.535208        0.505
2     AFG  2023            non-food   5463.61   3.372599        2.240
3     AFG  2023        oil and fats    588.94   1.443480        1.370
4     AFG  2023     pulses and nuts    562.91   1.379681        1.375

In [170]:
df_cleaned_2024 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2024.csv')

In [171]:
df_cleaned_2024['year'] = 2024

In [172]:
cols = df_cleaned_2024.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2024 = df_cleaned_2024[cols]
df_cleaned_2024.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2024  cereals and tubers   1716.61   0.713174        0.520
1     AFG  2024  miscellaneous food    470.04   0.576029        0.520
2     AFG  2024            non-food   6398.42   3.949642        3.390
3     AFG  2024        oil and fats    561.63   1.376544        1.315
4     AFG  2024     pulses and nuts    608.14   1.490539        1.490

In [173]:
df_cleaned_2025 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2025.csv')

In [174]:
df_cleaned_2025['year'] = 2025

In [175]:
cols = df_cleaned_2025.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2025 = df_cleaned_2025[cols]
df_cleaned_2025.head()

  country  year            category  sumPrice  meanPrice  medianPrice
0     AFG  2025  cereals and tubers   1252.76   0.699475         0.51
1     AFG  2025  miscellaneous food    336.03   0.549069         0.55
2     AFG  2025            non-food   4810.94   3.966150         3.45
3     AFG  2025        oil and fats    483.06   1.578627         1.58
4     AFG  2025     pulses and nuts    443.65   1.449837         1.45

In [176]:
wfp_food_prices_all_years = pd.concat([df_cleaned_2017, df_cleaned_2018, df_cleaned_2019, df_cleaned_2020, df_cleaned_2021, df_cleaned_2022, df_cleaned_2023, df_cleaned_2024, df_cleaned_2025], ignore_index=True)
wfp_food_prices_all_years.head()
wfp_food_prices_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3839 entries, 0 to 3838
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      3839 non-null   object
 1   year         3839 non-null   int64
 2   category     3839 non-null   object
 3   sumPrice     3839 non-null   float64
 4   meanPrice    3839 non-null   float64
 5   medianPrice  3839 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 180.1+ KB

In [177]:

wfp_food_prices_all_years.to_csv('Data/wfp_all_years.csv', index=False)

In [178]:
wfp_grouped_by_region = pd.read_csv('Data/wfp_all_years.csv')

In [179]:
wfp_grouped_by_region

     country  year             category    sumPrice  meanPrice  medianPrice
0        AFG  2017   cereals and tubers   154.72000   0.512318      0.43000
1        AFG  2017             non-food  1578.63000   4.111016      2.31500
2        AGO  2017   cereals and tubers   123.54000   2.573750      3.05500
3        AGO  2017       milk and dairy   538.60000  44.883333     44.59500
4        AGO  2017   miscellaneous food     9.00000   4.500000      4.50000
...      ...   ...                  ...         ...        ...          ...
3834     ZWE  2025  meat, fish and eggs     0.02400   0.006000      0.00600
3835     ZWE  2025   miscellaneous food     0.00035   0.000350      0.00035
3836     ZWE  2025             non-food     0.00719   0.000479      0.00060
3837     ZWE  2025         oil and fats     0.00240   0.001200      0.00120
3838     ZWE  2025      pulses and nuts     0.00229   0.000763      0.00076

[3839 rows x 6 columns]

In [180]:
# Add an empty column called 'grouped'
wfp_grouped_by_region['grouped'] = None

# Reorder the columns to place 'grouped' at the second position
cols = wfp_grouped_by_region.columns.tolist()
cols.insert(1, cols.pop(cols.index('grouped')))
wfp_grouped_by_region = wfp_grouped_by_region[cols]

# Display the updated DataFrame
wfp_grouped_by_region.head()

  country grouped  year            category  sumPrice  meanPrice  medianPrice
0     AFG    None  2017  cereals and tubers    154.72   0.512318        0.430
1     AFG    None  2017            non-food   1578.63   4.111016        2.315
2     AGO    None  2017  cereals and tubers    123.54   2.573750        3.055
3     AGO    None  2017      milk and dairy    538.60  44.883333       44.595
4     AGO    None  2017  miscellaneous food      9.00   4.500000        4.500

In [181]:
# Define regional mapping based on the provided lists
regional_mapping = {
    # East Asia & Pacific
    'ASM': 'East Asia & Pacific', 'BRN': 'East Asia & Pacific', 'CHN': 'East Asia & Pacific', 
    'FJI': 'East Asia & Pacific', 'GUM': 'East Asia & Pacific', 'HKG': 'East Asia & Pacific',
    'IDN': 'East Asia & Pacific', 'KHM': 'East Asia & Pacific', 'KIR': 'East Asia & Pacific',
    'KOR': 'East Asia & Pacific', 'LAO': 'East Asia & Pacific', 'MAC': 'East Asia & Pacific',
    'MHL': 'East Asia & Pacific', 'MNG': 'East Asia & Pacific', 'MY': 'East Asia & Pacific',
    'MM': 'East Asia & Pacific', 'NRU': 'East Asia & Pacific', 'NCL': 'East Asia & Pacific',
    'NZL': 'East Asia & Pacific', 'PNG': 'East Asia & Pacific', 'PH': 'East Asia & Pacific',
    'PLW': 'East Asia & Pacific', 'PYF': 'East Asia & Pacific', 'SGP': 'East Asia & Pacific',
    'SLB': 'East Asia & Pacific', 'TLS': 'East Asia & Pacific', 'THA': 'East Asia & Pacific',
    'TON': 'East Asia & Pacific', 'TUV': 'East Asia & Pacific', 'VNM': 'East Asia & Pacific',
    'VUT': 'East Asia & Pacific', 'WSM': 'East Asia & Pacific',

    # Europe & Central Asia
    'ALB': 'Europe & Central Asia', 'AND': 'Europe & Central Asia', 'ARM': 'Europe & Central Asia',
    'AUT': 'Europe & Central Asia', 'AZE': 'Europe & Central Asia', 'BEL': 'Europe & Central Asia',
    'BGR': 'Europe & Central Asia', 'BIH': 'Europe & Central Asia', 'BLR': 'Europe & Central Asia',
    'CHE': 'Europe & Central Asia', 'CHI': 'Europe & Central Asia', 'CZE': 'Europe & Central Asia',
    'CYP': 'Europe & Central Asia', 'DEU': 'Europe & Central Asia', 'DNK': 'Europe & Central Asia',
    'EST': 'Europe & Central Asia', 'FRO': 'Europe & Central Asia', 'FIN': 'Europe & Central Asia',
    'FRA': 'Europe & Central Asia', 'GEO': 'Europe & Central Asia', 'GBR': 'Europe & Central Asia',
    'GIB': 'Europe & Central Asia', 'GRC': 'Europe & Central Asia', 'HRV': 'Europe & Central Asia',
    'HUN': 'Europe & Central Asia', 'IRL': 'Europe & Central Asia', 'ISL': 'Europe & Central Asia',
    'ITA': 'Europe & Central Asia', 'XKX': 'Europe & Central Asia', 'KAZ': 'Europe & Central Asia',
    'KGZ': 'Europe & Central Asia', 'LTU': 'Europe & Central Asia', 'LUX': 'Europe & Central Asia',
    'LVA': 'Europe & Central Asia', 'MDA': 'Europe & Central Asia', 'MCO': 'Europe & Central Asia',
    'MKD': 'Europe & Central Asia', 'MNE': 'Europe & Central Asia', 'NLD': 'Europe & Central Asia',
    'NO': 'Europe & Central Asia', 'POL': 'Europe & Central Asia', 'PRT': 'Europe & Central Asia',
    'ROU': 'Europe & Central Asia', 'RUS': 'Europe & Central Asia', 'SMR': 'Europe & Central Asia',
    'SRB': 'Europe & Central Asia', 'SVK': 'Europe & Central Asia', 'SVN': 'Europe & Central Asia',
    'SWE': 'Europe & Central Asia', 'SWZ': 'Europe & Central Asia', 'TUR': 'Europe & Central Asia',
    'TJK': 'Europe & Central Asia', 'TKM': 'Europe & Central Asia', 'UKR': 'Europe & Central Asia',
    'UZB': 'Europe & Central Asia',

    # Latin America & Caribbean
    'ABW': 'Latin America & Caribbean', 'ARG': 'Latin America & Caribbean', 'ATG': 'Latin America & Caribbean',
    'BHS': 'Latin America & Caribbean', 'BLZ': 'Latin America & Caribbean', 'BOL': 'Latin America & Caribbean',
    'BRA': 'Latin America & Caribbean', 'BRB': 'Latin America & Caribbean', 'CHL': 'Latin America & Caribbean',
    'COL': 'Latin America & Caribbean', 'CRI': 'Latin America & Caribbean', 'CUW': 'Latin America & Caribbean',
    'DMA': 'Latin America & Caribbean', 'DOM': 'Latin America & Caribbean', 'ECU': 'Latin America & Caribbean',
    'GLP': 'Latin America & Caribbean', 'GRD': 'Latin America & Caribbean', 'GTM': 'Latin America & Caribbean',
    'GUY': 'Latin America & Caribbean', 'HND': 'Latin America & Caribbean', 'HTI': 'Latin America & Caribbean',
    'JAM': 'Latin America & Caribbean', 'KNA': 'Latin America & Caribbean', 'LCA': 'Latin America & Caribbean',
    'MAF': 'Latin America & Caribbean', 'MEX': 'Latin America & Caribbean', 'NIC': 'Latin America & Caribbean',
    'PAN': 'Latin America & Caribbean', 'PER': 'Latin America & Caribbean', 'PRY': 'Latin America & Caribbean',
    'PRI': 'Latin America & Caribbean', 'SLV': 'Latin America & Caribbean', 'SMA': 'Latin America & Caribbean',
    'SXM': 'Latin America & Caribbean', 'SUR': 'Latin America & Caribbean', 'TCA': 'Latin America & Caribbean',
    'TTO': 'Latin America & Caribbean', 'URY': 'Latin America & Caribbean', 'VCT': 'Latin America & Caribbean',
    'VEN': 'Latin America & Caribbean', 'VGB': 'Latin America & Caribbean', 'VIR': 'Latin America & Caribbean',

    # Middle East & North Africa
    'DZA': 'Middle East & North Africa', 'EGY': 'Middle East & North Africa', 'DJI': 'Middle East & North Africa',
    'IRN': 'Middle East & North Africa', 'IRQ': 'Middle East & North Africa', 'JOR': 'Middle East & North Africa',
    'KWT': 'Middle East & North Africa', 'LBN': 'Middle East & North Africa', 'LBY': 'Middle East & North Africa',
    'MAR': 'Middle East & North Africa', 'MLT': 'Middle East & North Africa', 'OMN': 'Middle East & North Africa',
    'PSE': 'Middle East & North Africa', 'QAT': 'Middle East & North Africa', 'SAU': 'Middle East & North Africa',
    'SDN': 'Middle East & North Africa', 'SYR': 'Middle East & North Africa', 'TUN': 'Middle East & North Africa',
    'ARE': 'Middle East & North Africa', 'YEM': 'Middle East & North Africa',

    # North America
    'BMU': 'North America', 'CAN': 'North America', 'USA': 'North America',

    # South Asia
    'AFG': 'South Asia', 'BGD': 'South Asia', 'BTN': 'South Asia', 'IND': 'South Asia',
    'MDV': 'South Asia', 'NPL': 'South Asia', 'PAK': 'South Asia', 'LKA': 'South Asia',

    # Sub-Saharan Africa
    'AGO': 'Sub-Saharan Africa', 'BEN': 'Sub-Saharan Africa', 'BFA': 'Sub-Saharan Africa',
    'BDI': 'Sub-Saharan Africa', 'BWA': 'Sub-Saharan Africa', 'CAF': 'Sub-Saharan Africa',
    'CIV': 'Sub-Saharan Africa', 'CMR': 'Sub-Saharan Africa', 'COD': 'Sub-Saharan Africa',
    'COG': 'Sub-Saharan Africa', 'CPV': 'Sub-Saharan Africa', 'COM': 'Sub-Saharan Africa',
    'DJI': 'Sub-Saharan Africa', 'ERI': 'Sub-Saharan Africa', 'SWZ': 'Sub-Saharan Africa',
    'ETH': 'Sub-Saharan Africa', 'GAB': 'Sub-Saharan Africa', 'GMB': 'Sub-Saharan Africa',
    'GHA': 'Sub-Saharan Africa', 'GIN': 'Sub-Saharan Africa', 'GNB': 'Sub-Saharan Africa',
    'KEN': 'Sub-Saharan Africa', 'LBR': 'Sub-Saharan Africa', 'LSO': 'Sub-Saharan Africa',
    'MDG': 'Sub-Saharan Africa', 'MLI': 'Sub-Saharan Africa', 'MRT': 'Sub-Saharan Africa',
    'MUS': 'Sub-Saharan Africa', 'MOZ': 'Sub-Saharan Africa', 'NAM': 'Sub-Saharan Africa',
    'NGA': 'Sub-Saharan Africa', 'NER': 'Sub-Saharan Africa', 'RWA': 'Sub-Saharan Africa',
    'SEN': 'Sub-Saharan Africa', 'SLE': 'Sub-Saharan Africa', 'SSD': 'Sub-Saharan Africa',
    'STP': 'Sub-Saharan Africa', 'SYC': 'Sub-Saharan Africa', 'TCD': 'Sub-Saharan Africa',
    'TGO': 'Sub-Saharan Africa', 'TZA': 'Sub-Saharan Africa', 'UGA': 'Sub-Saharan Africa',
    'ZAF': 'Sub-Saharan Africa', 'ZMB': 'Sub-Saharan Africa', 'ZWE': 'Sub-Saharan Africa',
}

In [182]:
# Map regions to the 'grouped' column
wfp_grouped_by_region['grouped'] = wfp_grouped_by_region['country'].map(regional_mapping)

# Check for countries without assigned regions
missing_regions = wfp_grouped_by_region[wfp_grouped_by_region['grouped'].isnull()]['country'].unique()
print("Countries without regions:", missing_regions)

Countries without regions: ['JPN' 'MMR' 'MWI' 'PHL' 'SOM']

In [183]:
# Update regional mapping to include missing countries
regional_mapping.update({
    'JPN': 'East Asia & Pacific',  # Japan
    'MMR': 'East Asia & Pacific',  # Myanmar
    'MWI': 'Sub-Saharan Africa',   # Malawi
    'PHL': 'East Asia & Pacific',  # Philippines
    'SOM': 'Sub-Saharan Africa'    # Somalia
})

# Map regions to the 'grouped' column
wfp_grouped_by_region['grouped'] = wfp_grouped_by_region['country'].map(regional_mapping)

# Check for any remaining countries without assigned regions
missing_regions = wfp_grouped_by_region[wfp_grouped_by_region['grouped'].isnull()]['country'].unique()
print("Countries without regions:", missing_regions)

# Reorder the columns to place 'grouped' at the second position
cols = wfp_grouped_by_region.columns.tolist()
cols.insert(1, cols.pop(cols.index('grouped')))
wfp_grouped_by_region = wfp_grouped_by_region[cols]

# Save the updated DataFrame

Countries without regions: []

In [184]:
# Group by 'grouped', 'year', and 'category', and calculate the average of the 'medianPrice' column
agg_wfp_region = (
    wfp_grouped_by_region
    .groupby(['grouped', 'year', 'category'])['medianPrice']
    .agg(avgmedianPrice='mean')
    .reset_index()
)

# Save the aggregated DataFrame to a new CSV file
agg_wfp_region.to_csv('Data/wfp_grouped_region_final.csv', index=False)

# Display the aggregated DataFrame
agg_wfp_region

                 grouped  year               category  avgmedianPrice
0    East Asia & Pacific  2017     cereals and tubers        0.988182
1    East Asia & Pacific  2017    meat, fish and eggs        3.384286
2    East Asia & Pacific  2017         milk and dairy        1.103333
3    East Asia & Pacific  2017     miscellaneous food        1.016250
4    East Asia & Pacific  2017               non-food        2.461250
..                   ...   ...                    ...             ...
422   Sub-Saharan Africa  2025     miscellaneous food        2.708493
423   Sub-Saharan Africa  2025               non-food        6.112543
424   Sub-Saharan Africa  2025           oil and fats        6.305258
425   Sub-Saharan Africa  2025        pulses and nuts       10.791139
426   Sub-Saharan Africa  2025  vegetables and fruits        4.216111

[427 rows x 4 columns]

In [185]:
# Define income group mapping
income_group_mapping = {
    # Upper Middle Income Countries
    'CHN': 'Upper Middle Income', 'FJI': 'Upper Middle Income', 'MYS': 'Upper Middle Income',
    'MNG': 'Upper Middle Income', 'THA': 'Upper Middle Income', 'TON': 'Upper Middle Income',
    'ALB': 'Upper Middle Income', 'ARM': 'Upper Middle Income', 'AZE': 'Upper Middle Income',
    'BIH': 'Upper Middle Income', 'BLR': 'Upper Middle Income', 'GEO': 'Upper Middle Income',
    'KAZ': 'Upper Middle Income', 'XKX': 'Upper Middle Income', 'MDA': 'Upper Middle Income',
    'MKD': 'Upper Middle Income', 'MNE': 'Upper Middle Income', 'SRB': 'Upper Middle Income',
    'TUR': 'Upper Middle Income', 'TKM': 'Upper Middle Income', 'UKR': 'Upper Middle Income',
    'UZB': 'Upper Middle Income', 'DZA': 'Upper Middle Income', 'IRN': 'Upper Middle Income',
    'IRQ': 'Upper Middle Income', 'LBY': 'Upper Middle Income', 'MAR': 'Upper Middle Income',
    'TUN': 'Upper Middle Income', 'ATG': 'Upper Middle Income', 'BLZ': 'Upper Middle Income',
    'BRA': 'Upper Middle Income', 'COL': 'Upper Middle Income', 'CRI': 'Upper Middle Income',
    'DOM': 'Upper Middle Income', 'ECU': 'Upper Middle Income', 'GRD': 'Upper Middle Income',
    'GTM': 'Upper Middle Income', 'JAM': 'Upper Middle Income', 'MEX': 'Upper Middle Income',
    'PAN': 'Upper Middle Income', 'PER': 'Upper Middle Income', 'PRY': 'Upper Middle Income',
    'SLV': 'Upper Middle Income', 'SUR': 'Upper Middle Income', 'VCT': 'Upper Middle Income',
    'VEN': 'Upper Middle Income', 'BWA': 'Upper Middle Income', 'GAB': 'Upper Middle Income',
    'NAM': 'Upper Middle Income', 'MUS': 'Upper Middle Income', 'SYC': 'Upper Middle Income',
    'ZAF': 'Upper Middle Income',

    # Lower Middle Income Countries
    'KHM': 'Lower Middle Income', 'IDN': 'Lower Middle Income', 'KIR': 'Lower Middle Income',
    'LAO': 'Lower Middle Income', 'MHL': 'Lower Middle Income', 'PNG': 'Lower Middle Income',
    'SLB': 'Lower Middle Income', 'TLS': 'Lower Middle Income', 'VNM': 'Lower Middle Income',
    'WSM': 'Lower Middle Income', 'ARM': 'Lower Middle Income', 'KGZ': 'Lower Middle Income',
    'TJK': 'Lower Middle Income', 'TKM': 'Lower Middle Income', 'UZB': 'Lower Middle Income',
    'EGY': 'Lower Middle Income', 'DJI': 'Lower Middle Income', 'JOR': 'Lower Middle Income',
    'LBN': 'Lower Middle Income', 'PSE': 'Lower Middle Income', 'SDN': 'Lower Middle Income',
    'SYR': 'Lower Middle Income', 'TUN': 'Lower Middle Income', 'BGD': 'Lower Middle Income',
    'BTN': 'Lower Middle Income', 'IND': 'Lower Middle Income', 'MDV': 'Lower Middle Income',
    'NPL': 'Lower Middle Income', 'PAK': 'Lower Middle Income', 'AFG': 'Lower Middle Income',
    'AGO': 'Lower Middle Income', 'BEN': 'Lower Middle Income', 'COM': 'Lower Middle Income',
    'CPV': 'Lower Middle Income', 'CMR': 'Lower Middle Income', 'COG': 'Lower Middle Income',
    'GHA': 'Lower Middle Income', 'GIN': 'Lower Middle Income', 'GMB': 'Lower Middle Income',
    'KEN': 'Lower Middle Income', 'LES': 'Lower Middle Income', 'MRT': 'Lower Middle Income',
    'MOZ': 'Lower Middle Income', 'NER': 'Lower Middle Income', 'NGA': 'Lower Middle Income',
    'RWA': 'Lower Middle Income', 'SEN': 'Lower Middle Income', 'SLE': 'Lower Middle Income',
    'SSD': 'Lower Middle Income', 'STP': 'Lower Middle Income', 'TCD': 'Lower Middle Income',
    'TGO': 'Lower Middle Income', 'TZA': 'Lower Middle Income', 'UGA': 'Lower Middle Income',
    'ZMB': 'Lower Middle Income', 'ZWE': 'Lower Middle Income',

    # Low Income Countries
    'AFG': 'Low Income', 'BFA': 'Low Income', 'BDI': 'Low Income', 'CAF': 'Low Income',
    'COD': 'Low Income', 'ERI': 'Low Income', 'ETH': 'Low Income', 'GNB': 'Low Income',
    'LIB': 'Low Income', 'MDG': 'Low Income', 'MLI': 'Low Income', 'NGA': 'Low Income',
    'NER': 'Low Income', 'RWA': 'Low Income', 'SSD': 'Low Income', 'SYR': 'Low Income',
    'TGO': 'Low Income', 'UGA': 'Low Income'
}

# Map income groups to a new column
wfp_grouped_by_region['income_group'] = wfp_grouped_by_region['country'].map(income_group_mapping)

# Group by 'income_group', 'year', and 'category', and calculate the average of 'medianPrice'
agg_income_group = (
    wfp_grouped_by_region
    .groupby(['income_group', 'year', 'category'])['medianPrice']
    .agg(avgmedianPrice='mean')
    .reset_index()
)

# Save the aggregated DataFrame to a new CSV file
agg_income_group.to_csv('Data/wfp_grouped_by_income.csv', index=False)

# Display the aggregated DataFrame
agg_income_group.head()

  income_group  year             category  avgmedianPrice
0   Low Income  2017   cereals and tubers        3.161875
1   Low Income  2017  meat, fish and eggs        8.213571
2   Low Income  2017       milk and dairy        2.166667
3   Low Income  2017   miscellaneous food        0.941429
4   Low Income  2017             non-food        1.546875