In [381]:
import pandas as pd

wfp_df = pd.read_csv('raw_data/world-food-prices/wfp_food_prices_global_2017.csv')

/var/folders/p0/x3d9njwx7l5_zn_128v654c40000gn/T/ipykernel_29486/3183132935.py:3: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  wfp_df = pd.read_csv('raw_data/world-food-prices/wfp_food_prices_global_2017.csv')

In [382]:
wfp_df

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,#country+code,#date,#adm1+name,#adm2+name,#loc+market+name,#loc+market+code,#geo+lat,#geo+lon,#item+type,#item+name,#item+code,#item+unit,#item+price+flag,#item+price+type,#currency+code,#value,#value+usd
1,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Bread,55,KG,actual,Retail,AFN,50,0.75
2,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Rice (low quality),145,KG,actual,Retail,AFN,48,0.72
3,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Wheat,84,KG,actual,Retail,AFN,25,0.37
4,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,non-food,Exchange rate,305,USD/LCU,actual,Retail,AFN,66.58,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123952,ZWE,2017-12-15,Midlands,Zvishavane,Mabasa,2182,-20.15,30.09,oil and fats,Oil (vegetable),96,L,actual,Retail,USD,2.25,2.25
123953,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,cereals and tubers,Maize,51,KG,actual,Retail,USD,0.3,0.3
123954,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,oil and fats,Oil (vegetable),96,L,actual,Retail,USD,2.25,2.25
123955,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,pulses and nuts,Beans,50,KG,actual,Retail,USD,2.0,2.0
123956,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,pulses and nuts,Groundnuts (shelled),119,KG,actual,Retail,USD,0.57,0.57

In [383]:
wfp_df = wfp_df[['countryiso3', 'category', 'usdprice']]
wfp_df

          countryiso3            category    usdprice
0       #country+code          #item+type  #value+usd
1                 AFG  cereals and tubers        0.75
2                 AFG  cereals and tubers        0.72
3                 AFG  cereals and tubers        0.37
4                 AFG            non-food           1
...               ...                 ...         ...
123952            ZWE        oil and fats        2.25
123953            ZWE  cereals and tubers         0.3
123954            ZWE        oil and fats        2.25
123955            ZWE     pulses and nuts         2.0
123956            ZWE     pulses and nuts        0.57

[123957 rows x 3 columns]

In [384]:
wfp_df = wfp_df.iloc[1:]

In [385]:
wfp_df

       countryiso3            category usdprice
1              AFG  cereals and tubers     0.75
2              AFG  cereals and tubers     0.72
3              AFG  cereals and tubers     0.37
4              AFG            non-food        1
5              AFG            non-food      0.7
...            ...                 ...      ...
123952         ZWE        oil and fats     2.25
123953         ZWE  cereals and tubers      0.3
123954         ZWE        oil and fats     2.25
123955         ZWE     pulses and nuts      2.0
123956         ZWE     pulses and nuts     0.57

[123956 rows x 3 columns]

In [386]:
wfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123956 entries, 1 to 123956
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   countryiso3  123956 non-null  object
 1   category     123956 non-null  object
 2   usdprice     123715 non-null  object
dtypes: object(3)
memory usage: 2.8+ MB

In [387]:
wfp_df = wfp_df.rename(columns={'countryiso3': 'country'})
wfp_df

       country            category usdprice
1          AFG  cereals and tubers     0.75
2          AFG  cereals and tubers     0.72
3          AFG  cereals and tubers     0.37
4          AFG            non-food        1
5          AFG            non-food      0.7
...        ...                 ...      ...
123952     ZWE        oil and fats     2.25
123953     ZWE  cereals and tubers      0.3
123954     ZWE        oil and fats     2.25
123955     ZWE     pulses and nuts      2.0
123956     ZWE     pulses and nuts     0.57

[123956 rows x 3 columns]

In [388]:
wfp_df

       country            category usdprice
1          AFG  cereals and tubers     0.75
2          AFG  cereals and tubers     0.72
3          AFG  cereals and tubers     0.37
4          AFG            non-food        1
5          AFG            non-food      0.7
...        ...                 ...      ...
123952     ZWE        oil and fats     2.25
123953     ZWE  cereals and tubers      0.3
123954     ZWE        oil and fats     2.25
123955     ZWE     pulses and nuts      2.0
123956     ZWE     pulses and nuts     0.57

[123956 rows x 3 columns]

In [389]:
wfp_df[wfp_df[['country', 'category', 'usdprice']].isnull().any(axis=1)]

      country             category usdprice
93501     SOM   cereals and tubers      NaN
93503     SOM   cereals and tubers      NaN
93505     SOM         oil and fats      NaN
93541     SOM   cereals and tubers      NaN
93542     SOM   cereals and tubers      NaN
...       ...                  ...      ...
94783     SOM  meat, fish and eggs      NaN
94784     SOM       milk and dairy      NaN
94785     SOM             non-food      NaN
94786     SOM             non-food      NaN
94787     SOM         oil and fats      NaN

[241 rows x 3 columns]

In [390]:
wfp_df['usdprice'] = wfp_df['usdprice'].astype(float)

In [391]:
wfp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123956 entries, 1 to 123956
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   123956 non-null  object
 1   category  123956 non-null  object
 2   usdprice  123715 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.8+ MB

In [392]:
agg_df = wfp_df.groupby(['country', 'category'])['usdprice'].agg(sumPrice='sum', meanPrice='mean').reset_index()
agg_df

    country            category  sumPrice  meanPrice
0       AFG  cereals and tubers    154.72   0.512318
1       AFG            non-food   1578.63   4.111016
2       AGO  cereals and tubers    123.54   2.573750
3       AGO      milk and dairy    538.60  44.883333
4       AGO  miscellaneous food      9.00   4.500000
..      ...                 ...       ...        ...
383     ZMB     pulses and nuts   2006.76   1.889605
384     ZWE  cereals and tubers    198.05   0.468203
385     ZWE  miscellaneous food     22.20   1.168421
386     ZWE        oil and fats    328.94   2.018037
387     ZWE     pulses and nuts    420.97   1.985708

[388 rows x 4 columns]

In [393]:
agg_df

    country            category  sumPrice  meanPrice
0       AFG  cereals and tubers    154.72   0.512318
1       AFG            non-food   1578.63   4.111016
2       AGO  cereals and tubers    123.54   2.573750
3       AGO      milk and dairy    538.60  44.883333
4       AGO  miscellaneous food      9.00   4.500000
..      ...                 ...       ...        ...
383     ZMB     pulses and nuts   2006.76   1.889605
384     ZWE  cereals and tubers    198.05   0.468203
385     ZWE  miscellaneous food     22.20   1.168421
386     ZWE        oil and fats    328.94   2.018037
387     ZWE     pulses and nuts    420.97   1.985708

[388 rows x 4 columns]

In [394]:

agg_df.to_csv('cleaned_data/wfp_food_prices_cleaned_2017.csv', index=False)