In [60]:
import pandas as pd

In [61]:
df_cleaned_2017 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2017.csv')

In [62]:
df_cleaned_2017['year'] = 2017

In [63]:
cols = df_cleaned_2017.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2017 = df_cleaned_2017[cols]
df_cleaned_2017.head()

  country  year            category  usdprice
0     AFG  2017  cereals and tubers    154.72
1     AFG  2017            non-food   1578.63
2     AGO  2017  cereals and tubers    123.54
3     AGO  2017      milk and dairy    538.60
4     AGO  2017  miscellaneous food      9.00

In [64]:
df_cleaned_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   388 non-null    object
 1   year      388 non-null    int64
 2   category  388 non-null    object
 3   usdprice  388 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.3+ KB

In [65]:
df_cleaned_2018 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2018.csv')

In [66]:
df_cleaned_2018['year'] = 2018

In [67]:
cols = df_cleaned_2018.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2018 = df_cleaned_2018[cols]
df_cleaned_2018.head()

  country  year             category  usdprice
0     AFG  2018   cereals and tubers    146.64
1     AFG  2018             non-food   1479.39
2     AGO  2018   cereals and tubers    100.05
3     AGO  2018  meat, fish and eggs     20.22
4     AGO  2018       milk and dairy    408.01

In [68]:
df_cleaned_2019 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2019.csv')

In [69]:
df_cleaned_2019['year'] = 2019

In [70]:
cols = df_cleaned_2019.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2019 = df_cleaned_2019[cols]
df_cleaned_2019.head()

  country  year            category  usdprice
0     AFG  2019  cereals and tubers    133.03
1     AFG  2019            non-food   1424.49
2     AGO  2019  cereals and tubers     73.30
3     AGO  2019      milk and dairy    316.35
4     AGO  2019  miscellaneous food      8.28

In [71]:
df_cleaned_2020 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2020.csv')

In [72]:
df_cleaned_2020['year'] = 2020

In [73]:
cols = df_cleaned_2020.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2020 = df_cleaned_2020[cols]
df_cleaned_2020.head()

  country  year            category  usdprice
0     AFG  2020  cereals and tubers  1039.490
1     AFG  2020  miscellaneous food   220.678
2     AFG  2020            non-food  4320.470
3     AFG  2020        oil and fats   361.690
4     AFG  2020     pulses and nuts   328.820

In [74]:
df_cleaned_2021 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2021.csv')

In [75]:
df_cleaned_2021['year'] = 2021

In [76]:
cols = df_cleaned_2021.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2021 = df_cleaned_2021[cols]
df_cleaned_2021.head()

  country  year            category  usdprice
0     AFG  2021  cereals and tubers   1462.92
1     AFG  2021  miscellaneous food    333.82
2     AFG  2021            non-food   5252.09
3     AFG  2021        oil and fats    686.65
4     AFG  2021     pulses and nuts    468.20

In [77]:
df_cleaned_2022 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2022.csv')

In [78]:
df_cleaned_2022['year'] = 2022

In [79]:
cols = df_cleaned_2022.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2022 = df_cleaned_2022[cols]
df_cleaned_2022.head()

  country  year            category  usdprice
0     AFG  2022  cereals and tubers  1700.550
1     AFG  2022  miscellaneous food   375.788
2     AFG  2022            non-food  4875.820
3     AFG  2022        oil and fats   788.110
4     AFG  2022     pulses and nuts   519.420

In [80]:
df_cleaned_2023 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2023.csv')

In [81]:
df_cleaned_2023['year'] = 2023

In [82]:
cols = df_cleaned_2023.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2023 = df_cleaned_2023[cols]
df_cleaned_2023.head()

  country  year            category  usdprice
0     AFG  2023  cereals and tubers   1735.05
1     AFG  2023  miscellaneous food    436.73
2     AFG  2023            non-food   5463.61
3     AFG  2023        oil and fats    588.94
4     AFG  2023     pulses and nuts    562.91

In [83]:
df_cleaned_2024 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2024.csv')

In [84]:
df_cleaned_2024['year'] = 2024

In [85]:
cols = df_cleaned_2024.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2024 = df_cleaned_2024[cols]
df_cleaned_2024.head()

  country  year            category  usdprice
0     AFG  2024  cereals and tubers   1716.61
1     AFG  2024  miscellaneous food    470.04
2     AFG  2024            non-food   6398.42
3     AFG  2024        oil and fats    561.63
4     AFG  2024     pulses and nuts    608.14

In [86]:
df_cleaned_2025 = pd.read_csv('cleaned_data/wfp_food_prices_cleaned_2025.csv')

In [87]:
df_cleaned_2025['year'] = 2025

In [88]:
cols = df_cleaned_2025.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
df_cleaned_2025 = df_cleaned_2025[cols]
df_cleaned_2025.head()

  country  year            category  usdprice
0     AFG  2025  cereals and tubers   1252.76
1     AFG  2025  miscellaneous food    336.03
2     AFG  2025            non-food   4810.94
3     AFG  2025        oil and fats    483.06
4     AFG  2025     pulses and nuts    443.65

In [91]:
wfp_food_prices_all_years = pd.concat([df_cleaned_2017, df_cleaned_2018, df_cleaned_2019, df_cleaned_2020, df_cleaned_2021, df_cleaned_2022, df_cleaned_2023, df_cleaned_2024, df_cleaned_2025], ignore_index=True)
wfp_food_prices_all_years.head()
wfp_food_prices_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3839 entries, 0 to 3838
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   3839 non-null   object
 1   year      3839 non-null   int64
 2   category  3839 non-null   object
 3   usdprice  3839 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 120.1+ KB

In [95]:

wfp_food_prices_all_years.to_csv('Data/wfp_all_years.csv', index=False)