In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
#Importing share-healthy-diet-unafordable
diet_unafordable= pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/cleaned_data/inflation_of_consumer_prices_cleaned.csv')
diet_unafordable

           Entity Code  Year  Inflation, consumer prices (annual %)
0     Afghanistan  AFG  2017                               4.975952
1     Afghanistan  AFG  2018                               0.626149
2     Afghanistan  AFG  2019                               2.302373
3     Afghanistan  AFG  2020                               5.601888
4     Afghanistan  AFG  2021                               5.133203
...           ...  ...   ...                                    ...
1501     Zimbabwe  ZWE  2018                              10.618866
1502     Zimbabwe  ZWE  2019                             255.305000
1503     Zimbabwe  ZWE  2020                             557.201840
1504     Zimbabwe  ZWE  2021                              98.546104
1505     Zimbabwe  ZWE  2022                             104.705170

[1506 rows x 4 columns]

In [7]:
#Importing inflation_of_consumer_prices_cleaned
inflation = pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/cleaned_data/inflation_of_consumer_prices_cleaned.csv')
inflation

           Entity Code  Year  Inflation, consumer prices (annual %)
0     Afghanistan  AFG  2017                               4.975952
1     Afghanistan  AFG  2018                               0.626149
2     Afghanistan  AFG  2019                               2.302373
3     Afghanistan  AFG  2020                               5.601888
4     Afghanistan  AFG  2021                               5.133203
...           ...  ...   ...                                    ...
1501     Zimbabwe  ZWE  2018                              10.618866
1502     Zimbabwe  ZWE  2019                             255.305000
1503     Zimbabwe  ZWE  2020                             557.201840
1504     Zimbabwe  ZWE  2021                              98.546104
1505     Zimbabwe  ZWE  2022                             104.705170

[1506 rows x 4 columns]

In [ ]:
#Importing gdp_per_capita
gdp= pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/world_development_indicators/gdp_per_capita.csv')
gdp

,Country Name,Country Code,Series Name,Series Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
1,Africa Eastern and Southern,AFE,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,1215.96839781734,1259.19723166839,1275.9377877449,1225.03757949818,1257.89702625553,..,..,..
2,Africa Western and Central,AFW,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
3,Albania,ALB,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,3494.11672971086,3641.50475207024,3687.79928516457,3590.79503027181,4032.70760329282,..,..,..
4,Algeria,DZA,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,3389.31122801473,3319.20161789197,3262.79288043261,3010.43021804382,3069.11684084129,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 10/07/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
gdp.describe()

,Country Name,Country Code,Series Name,Series Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
count,268,266,266,266,266,266,266,266,266,266,266,266
unique,268,266,1,1,182,182,181,178,173,1,1,1
top,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
freq,1,1,266,266,84,84,85,88,93,266,266,266

In [10]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   268 non-null    object
 1   Country Code   266 non-null    object
 2   Series Name    266 non-null    object
 3   Series Code    266 non-null    object
 4   2017 [YR2017]  266 non-null    object
 5   2018 [YR2018]  266 non-null    object
 6   2019 [YR2019]  266 non-null    object
 7   2020 [YR2020]  266 non-null    object
 8   2021 [YR2021]  266 non-null    object
 9   2022 [YR2022]  266 non-null    object
 10  2023 [YR2023]  266 non-null    object
 11  2024 [YR2024]  266 non-null    object
dtypes: object(12)
memory usage: 25.5+ KB

In [11]:
gdp_clean = gdp.dropna()

In [12]:
gdp_clean

,Country Name,Country Code,Series Name,Series Code,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
1,Africa Eastern and Southern,AFE,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,1215.96839781734,1259.19723166839,1275.9377877449,1225.03757949818,1257.89702625553,..,..,..
2,Africa Western and Central,AFW,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
3,Albania,ALB,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,3494.11672971086,3641.50475207024,3687.79928516457,3590.79503027181,4032.70760329282,..,..,..
4,Algeria,DZA,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,3389.31122801473,3319.20161789197,3262.79288043261,3010.43021804382,3069.11684084129,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
262,World,WLD,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,8613.09750018511,8740.36289544894,8848.13681830344,8397.3932563062,8771.24496019295,..,..,..
263,"Yemen, Rep.",YEM,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
264,Zambia,ZMB,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,..,..
265,Zimbabwe,ZWE,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,386.315861753799,1156.29718891435,892.610998809492,747.168175176768,1020.6335942504,..,..,..

In [ ]:
# Dropping unnecessary columns
gdp_clean2 = gdp_clean.drop(columns=['Series Name', 'Series Code'])

In [ ]:
# Changing the year columns from wide to long format
gdp_long = gdp_clean2.melt(id_vars=['Country Name', 'Country Code'], var_name='year', value_name='gdp_per_capita')
gdp_long

,Country Name,Country Code,year,gdp_per_capita
0,Afghanistan,AFG,2017 [YR2017],..
1,Africa Eastern and Southern,AFE,2017 [YR2017],1215.96839781734
2,Africa Western and Central,AFW,2017 [YR2017],..
3,Albania,ALB,2017 [YR2017],3494.11672971086
4,Algeria,DZA,2017 [YR2017],3389.31122801473
...,...,...,...,...
2123,West Bank and Gaza,PSE,2024 [YR2024],..
2124,World,WLD,2024 [YR2024],..
2125,"Yemen, Rep.",YEM,2024 [YR2024],..
2126,Zambia,ZMB,2024 [YR2024],..
2127,Zimbabwe,ZWE,2024 [YR2024],..

In [21]:
gdp_long['gdp_per_capita'] = pd.to_numeric(gdp_long['gdp_per_capita'], errors='coerce')
gdp_long['year'] = gdp_long['year'].astype(str).str.extract(r'(\d{4})').astype(int)

In [22]:
gdp_long

                     Country Name Country Code  year  gdp_per_capita
0                     Afghanistan          AFG  2017             NaN
1     Africa Eastern and Southern          AFE  2017     1215.968398
2      Africa Western and Central          AFW  2017             NaN
3                         Albania          ALB  2017     3494.116730
4                         Algeria          DZA  2017     3389.311228
...                           ...          ...   ...             ...
2123           West Bank and Gaza          PSE  2024             NaN
2124                        World          WLD  2024             NaN
2125                  Yemen, Rep.          YEM  2024             NaN
2126                       Zambia          ZMB  2024             NaN
2127                     Zimbabwe          ZWE  2024             NaN

[2128 rows x 4 columns]

In [23]:
gdp_long_clean = gdp_long.dropna(subset=['gdp_per_capita'])
gdp_long_clean

                     Country Name Country Code  year  gdp_per_capita
1     Africa Eastern and Southern          AFE  2017     1215.968398
3                         Albania          ALB  2017     3494.116730
4                         Algeria          DZA  2017     3389.311228
7                          Angola          AGO  2017     1951.127621
9                      Arab World          ARB  2017     5233.289532
...                           ...          ...   ...             ...
1319                      Uruguay          URY  2021    15463.902954
1321                      Vanuatu          VUT  2021     2691.499438
1323                     Viet Nam          VNM  2021     2830.626772
1326                        World          WLD  2021     8771.244960
1329                     Zimbabwe          ZWE  2021     1020.633594

[896 rows x 4 columns]

In [24]:
gdp_long_clean.to_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/cleaned_data/gdp_long_clean.csv', index=False)