## Initial Data Inspection

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
#Importing share-healthy-diet-unafordable
diet_unafordable= pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/share-healthy-diet-unaffordable/share-healthy-diet-unaffordable.csv')
diet_unafordable

,Entity,Code,Year,Share of the population who cannot afford a healthy diet
0,Albania,ALB,2017,24.3
1,Albania,ALB,2018,17.5
2,Albania,ALB,2019,15.3
3,Albania,ALB,2020,14.1
4,Albania,ALB,2021,12.6
...,...,...,...,...
944,Zambia,ZMB,2019,79.0
945,Zambia,ZMB,2020,80.5
946,Zambia,ZMB,2021,81.3
947,Zambia,ZMB,2022,81.7
948,Zimbabwe,ZWE,2017,74.9

diet_unafordable summary: 
949 rows and 4 columns

In [9]:
diet_unafordable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 4 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Entity                                                    949 non-null    object
 1   Code                                                      883 non-null    object
 2   Year                                                      949 non-null    int64
 3   Share of the population who cannot afford a healthy diet  949 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.8+ KB

In [8]:
#Initial Data Inspection
diet_unafordable.dtypes

Entity                                                       object
Code                                                         object
Year                                                          int64
Share of the population who cannot afford a healthy diet    float64
dtype: object

In [15]:
diet_unafordable.describe()

              Year  Share of the population who cannot afford a healthy diet
count   949.000000                                         949.000000
mean   2019.494204                                          33.095574
std       1.712210                                          26.633389
min    2017.000000                                           0.000000
25%    2018.000000                                           8.600000
50%    2019.000000                                          26.700000
75%    2021.000000                                          55.500000
max    2022.000000                                          94.800000