## Initial Data Inspection

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [32]:
#Importing share-healthy-diet-unafordable
diet_unafordable= pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/share-healthy-diet-unaffordable/share-healthy-diet-unaffordable.csv')
diet_unafordable

,Entity,Code,Year,Share of the population who cannot afford a healthy diet
0,Albania,ALB,2017,24.3
1,Albania,ALB,2018,17.5
2,Albania,ALB,2019,15.3
3,Albania,ALB,2020,14.1
4,Albania,ALB,2021,12.6
...,...,...,...,...
944,Zambia,ZMB,2019,79.0
945,Zambia,ZMB,2020,80.5
946,Zambia,ZMB,2021,81.3
947,Zambia,ZMB,2022,81.7
948,Zimbabwe,ZWE,2017,74.9

In [33]:
inflation = pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/inflation-of-consumer-prices/inflation-of-consumer-prices.csv')
inflation

           Entity Code  Year  Inflation, consumer prices (annual %)
0     Afghanistan  AFG  2005                              12.686269
1     Afghanistan  AFG  2006                               6.784596
2     Afghanistan  AFG  2007                               8.680571
3     Afghanistan  AFG  2008                              26.418665
4     Afghanistan  AFG  2009                              -6.811161
...           ...  ...   ...                                    ...
9579     Zimbabwe  ZWE  2018                              10.618866
9580     Zimbabwe  ZWE  2019                             255.305000
9581     Zimbabwe  ZWE  2020                             557.201840
9582     Zimbabwe  ZWE  2021                              98.546104
9583     Zimbabwe  ZWE  2022                             104.705170

[9584 rows x 4 columns]

In [34]:
inflation

           Entity Code  Year  Inflation, consumer prices (annual %)
0     Afghanistan  AFG  2005                              12.686269
1     Afghanistan  AFG  2006                               6.784596
2     Afghanistan  AFG  2007                               8.680571
3     Afghanistan  AFG  2008                              26.418665
4     Afghanistan  AFG  2009                              -6.811161
...           ...  ...   ...                                    ...
9579     Zimbabwe  ZWE  2018                              10.618866
9580     Zimbabwe  ZWE  2019                             255.305000
9581     Zimbabwe  ZWE  2020                             557.201840
9582     Zimbabwe  ZWE  2021                              98.546104
9583     Zimbabwe  ZWE  2022                             104.705170

[9584 rows x 4 columns]

diet_unafordable summary: 
949 rows and 4 columns

In [35]:
filtered_df = inflation[inflation['Year'].isin([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])]
filtered_df

           Entity Code  Year  Inflation, consumer prices (annual %)
12    Afghanistan  AFG  2017                               4.975952
13    Afghanistan  AFG  2018                               0.626149
14    Afghanistan  AFG  2019                               2.302373
15    Afghanistan  AFG  2020                               5.601888
16    Afghanistan  AFG  2021                               5.133203
...           ...  ...   ...                                    ...
9579     Zimbabwe  ZWE  2018                              10.618866
9580     Zimbabwe  ZWE  2019                             255.305000
9581     Zimbabwe  ZWE  2020                             557.201840
9582     Zimbabwe  ZWE  2021                              98.546104
9583     Zimbabwe  ZWE  2022                             104.705170

[1506 rows x 4 columns]

In [36]:
pwd

'/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/notebooks'

In [37]:
filtered_df.to_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/cleaned_data/inflation_of_consumer_prices_cleaned.csv', index=False)

In [9]:
diet_unafordable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 4 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Entity                                                    949 non-null    object
 1   Code                                                      883 non-null    object
 2   Year                                                      949 non-null    int64
 3   Share of the population who cannot afford a healthy diet  949 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.8+ KB

In [8]:
#Initial Data Inspection
diet_unafordable.dtypes

Entity                                                       object
Code                                                         object
Year                                                          int64
Share of the population who cannot afford a healthy diet    float64
dtype: object

In [15]:
diet_unafordable.describe()

              Year  Share of the population who cannot afford a healthy diet
count   949.000000                                         949.000000
mean   2019.494204                                          33.095574
std       1.712210                                          26.633389
min    2017.000000                                           0.000000
25%    2018.000000                                           8.600000
50%    2019.000000                                          26.700000
75%    2021.000000                                          55.500000
max    2022.000000                                          94.800000