In [33]:
import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

In [34]:
df = pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/world-food-prices/wfp_food_prices_global_2017.csv')
df

/var/folders/yh/g7vq8gw96lb2ghdgftx2fymh0000gn/T/ipykernel_77463/2836563016.py:1: DtypeWarning: Columns (5,6,7,10,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/pavelpavlov/Desktop/gaussian_peppers/food_diets_eda/raw_data/world-food-prices/wfp_food_prices_global_2017.csv')

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,#country+code,#date,#adm1+name,#adm2+name,#loc+market+name,#loc+market+code,#geo+lat,#geo+lon,#item+type,#item+name,#item+code,#item+unit,#item+price+flag,#item+price+type,#currency+code,#value,#value+usd
1,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Bread,55,KG,actual,Retail,AFN,50,0.75
2,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Rice (low quality),145,KG,actual,Retail,AFN,48,0.72
3,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,cereals and tubers,Wheat,84,KG,actual,Retail,AFN,25,0.37
4,AFG,2017-01-15,Badakhshan,Faiz Abad,Fayzabad,266,37.12,70.58,non-food,Exchange rate,305,USD/LCU,actual,Retail,AFN,66.58,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123952,ZWE,2017-12-15,Midlands,Zvishavane,Mabasa,2182,-20.15,30.09,oil and fats,Oil (vegetable),96,L,actual,Retail,USD,2.25,2.25
123953,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,cereals and tubers,Maize,51,KG,actual,Retail,USD,0.3,0.3
123954,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,oil and fats,Oil (vegetable),96,L,actual,Retail,USD,2.25,2.25
123955,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,pulses and nuts,Beans,50,KG,actual,Retail,USD,2.0,2.0
123956,ZWE,2017-12-15,Midlands,Zvishavane,Matenda,2183,-20.0,30.06,pulses and nuts,Groundnuts (shelled),119,KG,actual,Retail,USD,0.57,0.57

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['usdprice'] = pd.to_numeric(df['usdprice'], errors='coerce')

In [45]:
df.loc[df['countryiso3'] == 'SOM']

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
93501,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Rice (imported),64,KG,actual,Retail,SLS,4875.0,NaN
93502,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Sorghum (red),282,KG,actual,Retail,SOS,2000.0,3.48
93503,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Wheat flour,58,KG,actual,Retail,SLS,4000.0,NaN
93504,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,non-food,Exchange rate,305,USD/LCU,actual,Retail,SOS,8400.0,14.61
93505,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,oil and fats,"Oil (vegetable, imported)",101,L,actual,Retail,SLS,10750.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94783,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,"meat, fish and eggs",Meat (camel),344,KG,actual,Retail,SLS,42444.0,NaN
94784,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,milk and dairy,Milk (camel),342,L,actual,Retail,SLS,13250.0,NaN
94785,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,non-food,Exchange rate,305,USD/LCU,actual,Retail,SLS,10050.0,NaN
94786,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,non-food,Fuel (diesel),284,L,actual,Retail,SLS,6800.0,NaN
94787,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,oil and fats,"Oil (vegetable, imported)",101,L,actual,Retail,SLS,12791.0,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123957 entries, 0 to 123956
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   countryiso3   123957 non-null  object
 1   date          123957 non-null  object
 2   admin1        121993 non-null  object
 3   admin2        121993 non-null  object
 4   market        123957 non-null  object
 5   market_id     123957 non-null  object
 6   latitude      121993 non-null  object
 7   longitude     121993 non-null  object
 8   category      123957 non-null  object
 9   commodity     123957 non-null  object
 10  commodity_id  123957 non-null  object
 11  unit          123957 non-null  object
 12  priceflag     123957 non-null  object
 13  pricetype     123957 non-null  object
 14  currency      123957 non-null  object
 15  price         123956 non-null  float64
 16  usdprice      123715 non-null  float64
dtypes: float64(2), object(15)
memory usage: 16.1+ MB

In [47]:
df.isnull().sum()

countryiso3        0
date               0
admin1          1964
admin2          1964
market             0
market_id          0
latitude        1964
longitude       1964
category           0
commodity          0
commodity_id       0
unit               0
priceflag          0
pricetype          0
currency           0
price              1
usdprice         242
dtype: int64

In [48]:
# Select only numeric columns
numeric_cols = df.select_dtypes(include=np.number).columns

In [49]:
# Initialize KNN imputer
imputer = KNNImputer(n_neighbors=3, weights='distance')

In [50]:
# Impute only numeric columns
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

print(df)

          countryiso3        date      admin1      admin2            market  \
0       #country+code       #date  #adm1+name  #adm2+name  #loc+market+name
1                 AFG  2017-01-15  Badakhshan   Faiz Abad          Fayzabad
2                 AFG  2017-01-15  Badakhshan   Faiz Abad          Fayzabad
3                 AFG  2017-01-15  Badakhshan   Faiz Abad          Fayzabad
4                 AFG  2017-01-15  Badakhshan   Faiz Abad          Fayzabad
...               ...         ...         ...         ...               ...
123952            ZWE  2017-12-15    Midlands  Zvishavane            Mabasa
123953            ZWE  2017-12-15    Midlands  Zvishavane           Matenda
123954            ZWE  2017-12-15    Midlands  Zvishavane           Matenda
123955            ZWE  2017-12-15    Midlands  Zvishavane           Matenda
123956            ZWE  2017-12-15    Midlands  Zvishavane           Matenda

               market_id  latitude longitude            category  \
0       #loc+market+code  #geo+lat  #geo+lon          #item+type
1                    266     37.12     70.58  cereals and tubers
2                    266     37.12     70.58  cereals and tubers
3                    266     37.12     70.58  cereals and tubers
4                    266     37.12     70.58            non-food
...                  ...       ...       ...                 ...
123952              2182    -20.15     30.09        oil and fats
123953              2183     -20.0     30.06  cereals and tubers
123954              2183     -20.0     30.06        oil and fats
123955              2183     -20.0     30.06     pulses and nuts
123956              2183     -20.0     30.06     pulses and nuts

                   commodity commodity_id        unit         priceflag  \
0                 #item+name   #item+code  #item+unit  #item+price+flag
1                      Bread           55          KG            actual
2         Rice (low quality)          145          KG            actual
3                      Wheat           84          KG            actual
4              Exchange rate          305     USD/LCU            actual
...                      ...          ...         ...               ...
123952       Oil (vegetable)           96           L            actual
123953                 Maize           51          KG            actual
123954       Oil (vegetable)           96           L            actual
123955                 Beans           50          KG            actual
123956  Groundnuts (shelled)          119          KG            actual

               pricetype        currency        price  usdprice
0       #item+price+type  #currency+code  4972.109896  6.160271
1                 Retail             AFN    50.000000  0.750000
2                 Retail             AFN    48.000000  0.720000
3                 Retail             AFN    25.000000  0.370000
4                 Retail             AFN    66.580000  1.000000
...                  ...             ...          ...       ...
123952            Retail             USD     2.250000  2.250000
123953            Retail             USD     0.300000  0.300000
123954            Retail             USD     2.250000  2.250000
123955            Retail             USD     2.000000  2.000000
123956            Retail             USD     0.570000  0.570000

[123957 rows x 17 columns]

In [51]:
df.isnull().sum()

countryiso3        0
date               0
admin1          1964
admin2          1964
market             0
market_id          0
latitude        1964
longitude       1964
category           0
commodity          0
commodity_id       0
unit               0
priceflag          0
pricetype          0
currency           0
price              0
usdprice           0
dtype: int64

In [52]:
df.loc[df['countryiso3'] == 'SOM']

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
93501,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Rice (imported),64,KG,actual,Retail,SLS,4875.0,3.256667
93502,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Sorghum (red),282,KG,actual,Retail,SOS,2000.0,3.480000
93503,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,cereals and tubers,Wheat flour,58,KG,actual,Retail,SLS,4000.0,2.330000
93504,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,non-food,Exchange rate,305,USD/LCU,actual,Retail,SOS,8400.0,14.610000
93505,SOM,2017-01-15,Awdal,Borama,Borama,1413,9.94,43.18,oil and fats,"Oil (vegetable, imported)",101,L,actual,Retail,SLS,10750.0,7.133333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94783,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,"meat, fish and eggs",Meat (camel),344,KG,actual,Retail,SLS,42444.0,82.196667
94784,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,milk and dairy,Milk (camel),342,L,actual,Retail,SLS,13250.0,11.313333
94785,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,non-food,Exchange rate,305,USD/LCU,actual,Retail,SLS,10050.0,0.750000
94786,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,non-food,Fuel (diesel),284,L,actual,Retail,SLS,6800.0,27.190000
94787,SOM,2017-12-15,Woqooyi Galbeed,Hargeysa,Hargeysa,1419,9.56,44.07,oil and fats,"Oil (vegetable, imported)",101,L,actual,Retail,SLS,12791.0,2.302516